nav {
  background-color: #04AA6D;
  color: white;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.icon-exit {
  margin: 8px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

.welcome {
  font-size: 2rem;
}

.brand {
  margin: 0 30px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
.card {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.userImage {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

